Lcapas_CORE/Web References/quesvc2/APASQueueServiceExt2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://APASProxy.ServiceContracts/2010/06" xmlns:s1="http://APASProxy.DataTypes/2007/04" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:s3="http://APASProxy.DataTypes/2010/06" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://APASProxy.ServiceContracts/2010/06" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://APASProxy.ServiceContracts/2010/06">
      <s:import namespace="http://APASProxy.DataTypes/2007/04" />
      <s:import namespace="http://APASProxy.DataTypes/2010/06" />
      <s:element name="GetReceivedErrorsByConsumer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceConsumerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedErrorsByConsumerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceivedErrorsByConsumerResult" type="tns:ArrayOfReceivedError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceivedError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceivedError" nillable="true" type="s1:ReceivedError" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReceivedTransferRequestsByConsumer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceConsumerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedTransferRequestsByConsumerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceivedTransferRequestsByConsumerResult" type="tns:ArrayOfReceivedTransferRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceivedTransferRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceivedTransferRequest" nillable="true" type="s1:ReceivedTransferRequest" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReceivedTranscripts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="s3:receivedTranscriptsFilter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedTranscriptsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceivedTranscriptsResult" type="tns:ArrayOfReceivedTranscript" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceivedTranscript">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceivedTranscript" nillable="true" type="s1:ReceivedTranscript" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetReceivedTranscriptsByConsumer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceConsumerId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="maximumToReturn" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedTranscriptsByConsumerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceivedTranscriptsByConsumerResult" type="tns:ArrayOfReceivedTranscript" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedApplicationsByConsumer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceConsumerId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedApplicationsByConsumerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceivedApplicationsByConsumerResult" type="tns:ArrayOfReceivedApplication" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceivedApplication">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceivedApplication" nillable="true" type="s1:ReceivedApplication" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://APASProxy.DataTypes/2007/04">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:complexType name="ReceivedError">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UUID" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalMessagePayloadType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalMessageBody" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Received" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceivedTransferRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AgencyAssignedID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestBody" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestTrackingId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EducationalInstitutionSourceId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Received" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceivedTranscript">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgencyAssignedID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Received" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EducationalInstitutionSourceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Transcript" type="s1:Transcript" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestTrackingId" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transcript">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AgencyAssignedId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TranscriptBody" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceivedApplication">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UUID" type="s2:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="AgencyAssignedID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Received" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="EducationalInstitutionSourceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Application" type="s1:Application" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Application">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationBody" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AgencyAssignedId" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://APASProxy.DataTypes/2010/06">
      <s:element name="receivedTranscriptsFilter" type="s3:ReceivedTranscriptsFilter" />
      <s:complexType name="ReceivedTranscriptsFilter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AgencyAssignedID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestTrackingId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EducationalInstitutionSourceId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedFrom" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReceivedTo" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalReceived" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MaximumToReturn" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetReceivedErrorsByConsumerSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceivedErrorsByConsumer" />
  </wsdl:message>
  <wsdl:message name="GetReceivedErrorsByConsumerSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceivedErrorsByConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceivedTransferRequestsByConsumerSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceivedTransferRequestsByConsumer" />
  </wsdl:message>
  <wsdl:message name="GetReceivedTransferRequestsByConsumerSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceivedTransferRequestsByConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceivedTranscriptsSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceivedTranscripts" />
  </wsdl:message>
  <wsdl:message name="GetReceivedTranscriptsSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceivedTranscriptsResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceivedTranscriptsByConsumerSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceivedTranscriptsByConsumer" />
  </wsdl:message>
  <wsdl:message name="GetReceivedTranscriptsByConsumerSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceivedTranscriptsByConsumerResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceivedApplicationsByConsumerSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceivedApplicationsByConsumer" />
  </wsdl:message>
  <wsdl:message name="GetReceivedApplicationsByConsumerSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceivedApplicationsByConsumerResponse" />
  </wsdl:message>
  <wsdl:portType name="APASQueueServiceExt2">
    <wsdl:operation name="GetReceivedErrorsByConsumer">
      <wsdl:input message="tns:GetReceivedErrorsByConsumerSoapIn" />
      <wsdl:output message="tns:GetReceivedErrorsByConsumerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTransferRequestsByConsumer">
      <wsdl:input message="tns:GetReceivedTransferRequestsByConsumerSoapIn" />
      <wsdl:output message="tns:GetReceivedTransferRequestsByConsumerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTranscripts">
      <wsdl:input message="tns:GetReceivedTranscriptsSoapIn" />
      <wsdl:output message="tns:GetReceivedTranscriptsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTranscriptsByConsumer">
      <wsdl:input message="tns:GetReceivedTranscriptsByConsumerSoapIn" />
      <wsdl:output message="tns:GetReceivedTranscriptsByConsumerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedApplicationsByConsumer">
      <wsdl:input message="tns:GetReceivedApplicationsByConsumerSoapIn" />
      <wsdl:output message="tns:GetReceivedApplicationsByConsumerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APASQueueServiceExt2" type="tns:APASQueueServiceExt2">
    <wsdl:documentation>
      <wsi:Claim conformsTo="http://ws-i.org/profiles/basic/1.1" xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" />
    </wsdl:documentation>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReceivedErrorsByConsumer">
      <soap:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedErrorsByConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTransferRequestsByConsumer">
      <soap:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedTransferRequestsByConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTranscripts">
      <soap:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedTranscripts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTranscriptsByConsumer">
      <soap:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedTranscriptsByConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedApplicationsByConsumer">
      <soap:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedApplicationsByConsumer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APASQueueServiceExt21" type="tns:APASQueueServiceExt2">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReceivedErrorsByConsumer">
      <soap12:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedErrorsByConsumer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTransferRequestsByConsumer">
      <soap12:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedTransferRequestsByConsumer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTranscripts">
      <soap12:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedTranscripts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedTranscriptsByConsumer">
      <soap12:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedTranscriptsByConsumer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedApplicationsByConsumer">
      <soap12:operation soapAction="http://APASProxy.ServiceContracts/2010/06/GetReceivedApplicationsByConsumer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APASQueueServiceExt2">
    <wsdl:port name="APASQueueServiceExt2" binding="tns:APASQueueServiceExt2">
      <soap:address location="https://apasp.lethbridgecollege.ab.ca/APASProxyInternal/APASQueueServiceExt2.asmx" />
    </wsdl:port>
    <wsdl:port name="APASQueueServiceExt21" binding="tns:APASQueueServiceExt21">
      <soap12:address location="https://apasp.lethbridgecollege.ab.ca/APASProxyInternal/APASQueueServiceExt2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>