Lcapas_CORE/Library/Schemas/AdmissionsRecord_v1.3.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by CGI INFORMATION SYSTEMS (CGI INFORMATION SYSTEMS) -->
<!--=========================================-->
<!--AdditionalStudentAchievements Types-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:core="urn:org:pesc:core:CoreMain:v1.16.0" xmlns:AdmRec="urn:org:pesc:sector:AdmissionsRecord:v1.3.0" targetNamespace="urn:org:pesc:sector:AdmissionsRecord:v1.3.0" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="v1.3.0">
  <xs:import namespace="urn:org:pesc:core:CoreMain:v1.16.0" schemaLocation="CoreMain_v1.16.0.xsd"/>
	<!--============================================================================-->
	<!--Name:      AdmissionsRecord.xsd -->
	<!--Version:  0.0.0-->
	<!--Date:       07-Sept-2007-->
	<!--ChangeCode Log:-->
	<!--0.0.0  07-Sept-2007  CGI - Initial version  -->
	<!--=========================================-->
	<!--CoreComponent Types-->
	<!--=========================================-->
  <xs:complexType name="TransmissionDataType">
    <xs:sequence>
      <xs:element name="DocumentID" type="core:DocumentIDType"/>
      <xs:element name="CreatedDateTime" type="core:CreatedDateTimeType"/>
      <xs:element name="DocumentTypeCode" type="core:DocumentTypeCodeType"/>
      <xs:element name="TransmissionType" type="core:TransmissionTypeType"/>
      <xs:element name="Source" type="AdmRec:SourceDestinationType"/>
      <xs:element name="Destination" type="AdmRec:SourceDestinationType"/>
      <xs:element name="DocumentProcessCode" type="core:DocumentProcessCodeType" minOccurs="0"/>
      <xs:element name="DocumentOfficialCode" type="core:DocumentOfficialCodeType" minOccurs="0"/>
      <xs:element name="DocumentCompleteCode" type="core:DocumentCompleteCodeType" minOccurs="0"/>
      <xs:element name="RequestTrackingID" type="core:RequestTrackingIDType" minOccurs="0"/>
      <xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicantType">
		<xs:sequence>
			<xs:element name="Person" type="AdmRec:ApplicantPersonType"/>
      <xs:element name="Family" type="AdmRec:FamilyType" minOccurs="0"/>
			<xs:element name="Application" type="AdmRec:ApplicationType" maxOccurs="unbounded"/>
      <xs:element name="SelfReportedAcademicRecord" type="AdmRec:AcademicRecordType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicantPersonType">
		<xs:sequence>
			<xs:element name="SchoolAssignedPersonID" type="core:SchoolAssignedPersonIDType" minOccurs="0"/>
			<xs:element name="SIN" type="core:SINIDType" minOccurs="0"/>
			<xs:element name="NSN" type="core:NSNIDType" minOccurs="0"/>
      <xs:element name="AgencyIdentifier" type="AdmRec:AgencyIdentifierType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RecipientAssignedID" type="core:RecipientAssignedIDType" minOccurs="0"/>
			<xs:element name="SSN" type="core:SSNType" minOccurs="0"/>
			<xs:element name="Birth" type="core:BirthType" minOccurs="0"/>
			<xs:element name="Name" type="core:NameType"/>
			<xs:element name="AlternateName" type="core:NameType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PreferredName" type="core:NameType" minOccurs="0"/>
			<xs:element name="Citizenship" type="AdmRec:CitizenshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Contacts" type="AdmRec:ContactsType"/>
			<xs:element name="Gender" type="core:GenderType" minOccurs="0"/>
      <xs:element name="CanadianEthnicityRace" type="AdmRec:CanadianEthnicityRaceType" minOccurs="0"/>
			<xs:element name="Immigration" type="AdmRec:ImmigrationType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Language" type="core:LanguageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="FamilyType">
    <xs:annotation>
      <xs:documentation>Family Type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FamilyMember" type="AdmRec:AdmissionsPersonType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
	<xs:complexType name="OrganizationType">
		<xs:sequence>
			<xs:group ref="core:OrganizationIDGroup"/>
			<xs:element name="LocalOrganizationID" type="core:LocalOrganizationIDType" minOccurs="0"/>
			<xs:element name="OrganizationName" minOccurs="0" maxOccurs="unbounded">
				<xs:simpleType>
					<xs:restriction base="core:OrganizationNameType">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Contacts" type="core:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SourceDestinationType">
		<xs:annotation>
			<xs:documentation>Type for Source and Destination</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Organization" type="AdmRec:OrganizationType"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicationType">
		<xs:sequence>
			<xs:element name="ApplicationSource" type="AdmRec:ApplicationSourceType"/>
			<xs:element name="ApplicationID" type="AdmRec:ApplicationIDType"/>
			<xs:element name="ApplicationDetail" type="AdmRec:ApplicationDetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ApplicationDetailType">
		<xs:sequence>
			<xs:element name="ApplicationSession" type="core:AcademicSessionDetailType"/>
			<xs:element name="ApplicationDegreeProgram" type="core:AcademicProgramType" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!--=========================================-->
	<!--Application Types-->
	<!--=========================================-->
	<xs:complexType name="AcademicRecordType">
		<xs:sequence>
			<xs:element name="School" type="AdmRec:SchoolType" minOccurs="0"/>
      <xs:element name="FirstDateAttended" type="core:FirstDateAttendedType" minOccurs="0"/>
      <xs:element name="LastDateAttended" type="core:LastDateAttendedType" minOccurs="0"/>
      <xs:element name="SchoolAssignedPersonID" minOccurs="0"/>
			<xs:element name="StudentLevel" type="core:StudentLevelType" minOccurs="0"/>
			<xs:element name="AcademicAward" type="AdmRec:AcademicAwardType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicSummary" type="AdmRec:AcademicSummaryE1Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicSession" type="AdmRec:AcademicSessionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Course" type="AdmRec:CourseType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AdditionalStudentAchievements" type="core:AdditionalStudentAchievementsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcademicSessionType">
		<xs:sequence>
			<xs:element name="AcademicSessionDetail" type="core:AcademicSessionDetailType"/>
			<xs:element name="School" type="AdmRec:SchoolType" minOccurs="0"/>
			<xs:element name="StudentLevel" type="core:StudentLevelType" minOccurs="0"/>
			<xs:element name="AcademicProgram" type="core:AcademicProgramType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicAward" type="AdmRec:AcademicAwardType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Course" type="AdmRec:CourseType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AcademicSummary" type="AdmRec:AcademicSummaryType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcademicSummaryBaseType">
		<xs:annotation>
			<xs:documentation>Base type, only used as extension base</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcademicSummaryType" type="core:AcademicSummaryTypeType" minOccurs="0"/>
			<xs:element name="AcademicSummaryLevel" type="core:CourseCreditLevelType" minOccurs="0"/>
			<xs:element name="GPA" type="core:GPAType" minOccurs="0"/>
			<xs:element name="AcademicHonors" type="core:AcademicHonorsType" minOccurs="0"/>
			<xs:element name="ClassRank" type="core:ClassRankType" minOccurs="0"/>
			<xs:element name="ClassSize" type="core:ClassSizeType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcademicSummaryE1Type">
		<xs:annotation>
			<xs:documentation>Used in  SelfReportedAcademicRecordType and AcademicAwardType</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AdmRec:AcademicSummaryBaseType">
				<xs:sequence>
					<xs:element name="AcademicProgram" type="core:AcademicProgramType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AcademicSummaryE2Type">
		<xs:annotation>
			<xs:documentation>Used in  AcademicProgramType</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AdmRec:AcademicSummaryBaseType">
				<xs:sequence>
					<xs:element name="Delinquencies" type="core:DelinquenciesType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ExitDate" type="core:ExitDateType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AcademicSummaryFType">
		<xs:annotation>
			<xs:documentation>Full type, used in AcademicSessionType</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AdmRec:AcademicSummaryBaseType">
				<xs:sequence>
					<xs:element name="AcademicProgram" type="core:AcademicProgramType" minOccurs="0"/>
					<xs:element name="Delinquencies" type="core:DelinquenciesType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ExitDate" type="core:ExitDateType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AcademicAwardType">
		<xs:sequence>
			<xs:element name="AcademicAwardLevel" type="core:AcademicAwardLevelType" minOccurs="0"/>
			<xs:element name="AcademicAwardDate" type="core:AcademicAwardDateType" minOccurs="0"/>
			<xs:element name="AcademicAwardTitle" type="core:AcademicAwardTitleType" minOccurs="0"/>
			<xs:element name="AcademicHonors" type="core:AcademicHonorsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicCompletionIndicator" type="core:AcademicCompletionIndicatorType" minOccurs="0"/>
			<xs:element name="AcademicCompletionDate" type="core:AcademicCompletionDateType" minOccurs="0"/>
			<xs:element name="AcademicAwardProgram" type="core:AcademicProgramType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicDegreeRequirement" type="core:AcademicDegreeRequirementType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcademicSummary" type="AdmRec:AcademicSummaryE1Type" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="AcademicSummaryType">
    <xs:sequence>
      <xs:element name="AcademicSummaryCode" type="core:AcademicSummaryTypeType" minOccurs="0"/>
      <xs:element name="AcademicSummaryLevel" type="core:CourseCreditLevelType" minOccurs="0"/>
      <xs:element name="GPA" type="core:GPAType" minOccurs="0"/>
      <xs:element name="AcademicHonors" type="core:AcademicHonorsType" minOccurs="0"/>
      <xs:element name="ClassRank" type="core:ClassRankType" minOccurs="0"/>
      <xs:element name="ClassSize" type="core:ClassSizeType" minOccurs="0"/>
      <xs:element name="AcademicProgram" type="core:AcademicProgramType" minOccurs="0"/>
      <xs:element name="Delinquencies" type="core:DelinquenciesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ExitDate" type="core:ExitDateType" minOccurs="0"/>
      <xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
	<!--=========================================-->
	<!--Person Types -->
	<!--=========================================-->
	<xs:complexType name="CitizenshipType">
		<xs:complexContent>
			<xs:extension base="core:CitizenshipType">
				<xs:sequence>
					<xs:element name="CitizenshipCountryCode" type="core:CitizenshipCountryCodeType" minOccurs="0"/>
					<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EthnicityRaceType">
		<xs:sequence>
			<xs:element name="LocalRaceEthnicityCode" type="core:LocalRaceEthnicityCodeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
  <xs:complexType name="ImmigrationType">
    <xs:sequence>
      <xs:element name="AlienRegistrationNumber" type="core:AlienRegistrationNumberType" minOccurs="0"/>
      <xs:element name="AsyleeRefugee" type="AdmRec:AsyleeRefugeeType" minOccurs="0"/>
      <xs:element name="PermanentResident" type="AdmRec:PermanentResidentType" minOccurs="0"/>
      <xs:element name="FirstEntryIntoHostCountryDate" type="core:FirstEntryIntoUSDateType" minOccurs="0"/>
      <xs:element name="ImmigrationI20RequestIndicator" type="core:ImmigrationI20RequestIndicatorType" minOccurs="0"/>
      <!--<xs:element name="CertificateOfEligibilityDetail" type="AdmRec:CertificateOfEligibilityDetailType" minOccurs="0"/>-->
      <!--<xs:element name="Sponsor" type="AdmRec:SponsorType" minOccurs="0" maxOccurs="unbounded"/>-->
      <xs:element name="PassportDetail" type="AdmRec:PassportDetailType" minOccurs="0"/>
      <xs:element name="VisaDetail" type="AdmRec:VisaDetailType" minOccurs="0"/>
      <!--<xs:element name="I94Detail" type="AdmRec:I94DetailType" minOccurs="0"/>-->
      <xs:element name="Dependent" type="AdmRec:DependentType" minOccurs="0" maxOccurs="unbounded"/>
      <!--<xs:element name="OptionalPracticalTraining" type="AdmRec:OptionalPracticalTrainingType" minOccurs="0"/>-->
      <!--<xs:element name="CurricularPracticalTraining" type="AdmRec:CurricularPracticalTrainingType" minOccurs="0"/>-->
      <!--<xs:element name="AcademicTraining" type="AdmRec:AcademicTrainingType" minOccurs="0"/>-->
      <!--<xs:element name="CurrentlyInUSCode" type="core:CurrentlyInUSCodeType" minOccurs="0"/>-->
      <xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdmissionsPersonType">
    <xs:sequence>
      <xs:element name="Name" type="core:NameType"/>
      <xs:element name="AttendedCollegeCode" type="core:AttendedCollegeCodeType" minOccurs="0" maxOccurs="4"/>
      <xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!--=========================================-->
	<!--Contacts Types-->
	<!--=========================================-->
	<xs:complexType name="ContactsType">
		<xs:sequence>
			<xs:element name="PermanentAddress" type="AdmRec:AddressType" minOccurs="0"/>
			<xs:element name="CurrentAddress" type="AdmRec:AddressType" minOccurs="0"/>
			<xs:element name="PermanentPhone" type="core:PhoneType" minOccurs="0"/>
      <xs:element name="DayPhone" type="core:PhoneType" minOccurs="0"/>
			<xs:element name="MobilePhone" type="core:PhoneType" minOccurs="0"/>
			<xs:element name="PreferredPhone" type="core:PhoneType" minOccurs="0"/>
			<xs:element name="PrimaryEmail" type="AdmRec:EmailType" minOccurs="0"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:complexContent>
			<xs:extension base="core:AddressType">
				<xs:sequence>
					<xs:element name="AttentionLine" type="core:AttentionLineType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmailType">
		<xs:complexContent>
			<xs:extension base="core:EmailType">
				<xs:sequence>
					<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--=========================================-->
	<!--AcademicSession Types-->
	<!--=========================================-->
	<xs:complexType name="SchoolType">
		<xs:sequence>
			<xs:element name="OrganizationName" type="core:OrganizationNameType"/>
			<xs:group ref="core:OrganizationIDGroup" minOccurs="0"/>
			<xs:element name="LocalOrganizationID" type="core:LocalOrganizationIDType" minOccurs="0"/>
			<xs:element name="SchoolOverrideCode" type="core:SchoolOverrideCodeType" minOccurs="0"/>
			<xs:element name="Contacts" type="core:ContactsType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CourseType">
		<xs:sequence>
			<xs:element name="CourseCreditBasis" type="core:CourseCreditBasisType"/>
			<xs:element name="CourseCreditUnits" type="core:CourseCreditUnitsType" minOccurs="0"/>
			<xs:element name="CourseCreditLevel" type="core:CourseCreditLevelType" minOccurs="0"/>
			<xs:element name="CourseCreditValue" type="core:CourseCreditValueType" minOccurs="0"/>
			<xs:element name="CourseCreditEarned" type="core:CourseCreditEarnedType" minOccurs="0"/>
			<xs:element name="CourseAcademicGradeScaleCode" type="core:CourseAcademicGradeScaleCodeType" minOccurs="0"/>
			<xs:element name="CourseAcademicGrade" type="core:CourseAcademicGradeType" minOccurs="0"/>
			<xs:element name="CourseAcademicGradeStatusCode" type="core:CourseAcademicGradeStatusCodeType" minOccurs="0"/>
			<xs:element name="CourseNarrativeExplanationGrade" type="core:CourseNarrativeExplanationGradeType" minOccurs="0"/>
			<xs:element name="CourseRepeatCode" type="core:CourseRepeatCodeType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="CourseCIPCode" type="core:CourseCIPCodeType" minOccurs="0"/>
				<xs:element name="CourseCSISCode" type="core:CourseCSISCodeType" minOccurs="0"/>
				<xs:element name="CourseUSISCode" type="core:CourseUSISCodeType" minOccurs="0"/>
				<xs:element name="CourseNCESCode" type="core:CourseNCESCodeType" minOccurs="0"/>
				<xs:element name="CourseSCEDCode" type="core:CourseSCEDCodeType" minOccurs="0"/>
			</xs:choice>
			<xs:element name="CourseQualityPointsEarned" type="core:CourseQualityPointsEarnedType" minOccurs="0"/>
			<xs:element name="CourseLevel" type="core:CourseLevelType" minOccurs="0"/>
			<xs:element name="CourseGPAApplicabilityCode" type="core:CourseGPAApplicabilityCodeType" minOccurs="0"/>
			<xs:element name="CourseSubjectAbbreviation" type="core:CourseSubjectAbbreviationType" minOccurs="0"/>
			<xs:element name="CourseNumber" type="core:CourseNumberType" minOccurs="0"/>
			<xs:element name="CourseSectionNumber" type="core:CourseSectionNumberType" minOccurs="0"/>
			<xs:element name="OriginalCourseID" type="core:OriginalCourseIDType" minOccurs="0"/>
			<xs:element name="AgencyCourseID" type="core:AgencyCourseIDType" minOccurs="0"/>
			<xs:element name="CourseTitle" type="core:CourseTitleType" minOccurs="0"/>
			<xs:element name="CourseAddDate" type="core:CourseAddDateType" minOccurs="0"/>
			<xs:element name="CourseDropDate" type="core:CourseDropDateType" minOccurs="0"/>
      <xs:element name="CourseOverrideSchool" type="AdmRec:SchoolType" minOccurs="0"/>
			<xs:element name="OverrideSchoolCourseNumber" type="core:OverrideSchoolCourseNumberType" minOccurs="0"/>
			<xs:element name="CourseApplicability" type="core:CourseApplicabilityType" minOccurs="0"/>
			<xs:element name="CourseBeginDate" type="core:CourseBeginDateType" minOccurs="0"/>
			<xs:element name="CourseEndDate" type="core:CourseEndDateType" minOccurs="0"/>
			<xs:element name="CourseInstructionSite" type="core:CourseInstructionSiteType" minOccurs="0"/>
			<xs:element name="CourseInstructionSiteName" type="core:CourseInstructionSiteNameType" minOccurs="0"/>
			<xs:element name="Requirement" type="core:RAPType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Attribute" type="core:RAPType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Proficiency" type="core:RAPType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Licensure" type="core:LicensureType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="LanguageOfInstruction" type="core:LanguageOfInstructionType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="UserDefinedExtensions" type="core:UserDefinedExtensionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
  <!--=========================================-->
  <!--Types yet to be filed-->
  <!--=========================================-->
  <xs:complexType name="AgencyIdentifierType">
    <xs:sequence>
      <xs:element name="AgencyAssignedID" type="core:AgencyAssignedIDType" minOccurs="0"/>
      <xs:element name="AgencyCode" type="core:AgencyCodeType" minOccurs="0"/>
      <xs:element name="AgencyName" type="core:AgencyNameType" minOccurs="0"/>
      <xs:element name="CountryCode" type="core:CountryCodeType" minOccurs="0"/>
      <xs:element name="StateProvinceCode" type="core:StateProvinceCodeType" minOccurs="0"/>
      <xs:element name="OtherAgency" type="core:OtherAgencyType" minOccurs="0"/>
      <xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CanadianEthnicityRaceType">
    <xs:sequence>
      <xs:element name="CanadianEthnicityCode" type="core:CanadianEthnicityCodeType"/>
      <xs:element name="LegalStatusCode" type="core:CanadianLegalStatusCodeType" minOccurs="0"/>
      <xs:element name="TreatyCode" type="core:TreatyCodeType" minOccurs="0"/>
      <xs:element name="NoteMessage" type="core:NoteMessageType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VisaDetailType">
    <xs:sequence>
      <xs:element name="VisaIssuingPostCode" type="core:VisaIssuingPostCodeType" minOccurs="0"/>
      <xs:element name="NonImmigrantVisaNumber" type="core:NonImmigrantVisaNumberType" minOccurs="0"/>
      <xs:element name="NonImmigrantVisaType" type="core:NonImmigrantVisaType" minOccurs="0"/>
      <xs:element name="NonImmigrantVisaIssueDate" type="core:NonImmigrationVisaIssueDateType" minOccurs="0"/>
      <xs:element name="VisaExpirationDate" type="core:VisaExpirationDateType" minOccurs="0"/>
      <xs:element name="VisaReasonForUSBornCode" type="core:VisaReasonForUSBornCodeType" minOccurs="0"/>
      <xs:element name="VisaControlNumber" type="core:VisaControlNumberType" minOccurs="0"/>
      <xs:element name="NonImmigrantVisaAppliedFor" type="core:NonImmigrantVisaType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AsyleeRefugeeType">
    <xs:sequence>
      <xs:element name="IssueDate" type="core:AsyleeRefugeeIssueDateType" minOccurs="0"/>
      <xs:element name="DocumentExpirationDate" type="core:AsyleeRefugeeExpirationDateType" minOccurs="0"/>
      <xs:element name="AppliedDate" type="core:AsyleeRefugeeAppliedDateType" minOccurs="0"/>
      <xs:element name="AppliedCode" type="core:AppliedCodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PermanentResidentType">
    <xs:sequence>
      <xs:element name="IssueDate" type="core:PermanentResidentIssueDateType" minOccurs="0"/>
      <xs:element name="DocumentExpirationDate" type="core:PermanentResidentExpirationDateType" minOccurs="0"/>
      <xs:element name="AppliedDate" type="core:PermanentResidentAppliedDateType" minOccurs="0"/>
      <xs:element name="AppliedCode" type="core:AppliedCodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PassportDetailType">
    <xs:sequence>
      <xs:element name="PassportInformationAvailableCode" type="core:PassportInformationAvailableCodeType" minOccurs="0"/>
      <xs:element name="IssuingCountryCode" type="core:PassportIssuingCountryCodeType" minOccurs="0"/>
      <xs:element name="DocumentExpirationDate" type="core:PassportExpirationDateType" minOccurs="0"/>
      <xs:element name="PassportNumber" type="core:PassportNumberType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DependentType">
    <xs:sequence>
      <xs:element name="Name" type="core:NameType" minOccurs="0"/>
      <xs:element name="RelationshipCode" type="core:RelationshipCodeType" minOccurs="0"/>
      <xs:element name="Birth" type="core:BirthType" minOccurs="0"/>
      <xs:element name="Citizenship" type="core:CitizenshipType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <!--=========================================-->
	<!--Simple Types-->
	<!--=========================================-->
	<xs:simpleType name="ApplicationSourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Institution"/>
			<xs:enumeration value="Applicant"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ApplicationIDType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<!--=====================================-->
</xs:schema>
