Lcapas_CORE/Library/Schemas/ErrorMessage_v1.0.1_CustomMade.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ErrMsg="urn:ca:applyalberta:message:ErrorMessage:v1.0.1" targetNamespace="urn:ca:applyalberta:message:ErrorMessage:v1.0.1" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="v1.0.1">

  <xs:element name="ErrorMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestTrackingID" type="xs:string"></xs:element>
        <xs:element name="ValidationErrors">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ValidationError" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ErrorCode" type="xs:string"></xs:element>
                    <xs:element name="ErrorText" type="xs:string"></xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OriginalMessage" type="xs:string"></xs:element>
        <xs:element name="OriginalMessageUUID" type="xs:string"></xs:element>
        <xs:element name="ErrorSource">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Originator" type="xs:string"></xs:element>
              <xs:element name="OrganizationAPASCode" type="xs:string"></xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>